; Configuration file for third party software install locations and any
; software outside of the ergatis install path.
; Each section provides a set of variables corresponding to a component
; and so headers must correspond to component names. For example tokens
; under [component wu-blastp] will only be evaluated when running the wu-blastp
; component.  Tokens under any 'common' section will be evaluated for all
; components
;; common stuff first
[common shared]
$;MOTHUR_EXEC$;=/usr/local/packages/mothur/mothur
$;HADOOP_EXEC$;=/opt/hadoop/bin/hadoop
$;SAMTOOLS_BIN$;=/usr/local/bin/
$;SAMTOOLS_EXEC$;=/usr/local/bin/samtools
$;R_EXEC$;=/usr/bin/R
$;BWA_EXEC$;=/opt/bwa/bwa

[common inputs]
$;DB_DIR$;=/local/db
;; DB_NR_PEPTIDE is a collection of peptide sequences of your choosing,
;;  usually something like NCBI's NR or UniRef, and formatted for BLAST.
$;DB_NR_PEPTIDE$;=/local/db/panda/latest/AllGroup/AllGroup.niaa
$;FASTA_NR_PEPTIDE$;=/mnt/staging/db/panda/AllGroup/AllGroup.fasta
;; This is a collection of HMMs.  "coding_hmm" is a concatenation of
;;  PFams, TIGRFams and select others.
$;HMM_ALL$;=/local/db/repository/igs/hmm/db/20130221_192430/coding_hmm.lib
$;HMM_LIB_DB$;=/local/db/repository/igs/hmm/db/20130221_192430/coding_hmm.lib.db
$;SIMPLE_REPEAT_LIB$;=/usr/local/packages/RepeatMasker/Libraries/RepeatMasker.lib
$;RNA_LIB$;=/usr/local/projects/db/RDPII/release9_56_unaligned.fasta
$;PRIAM_PROFILES$;=/usr/local/projects/db/priam/profile_EZ
$;NCBI_BLAST_NUC_NR$;=/local/db/ncbi/blast/db/nr
;; Uniref 100 variables
$;DB_UNIPROT_100$;=/local/projects/uniref/uniref100.fasta
$;UNIREF100_LOOKUP_FILE$;=/local/projects/uniref/uniref100_lookup.db
$;RAPSEARCH_UNIREF100$;=/local/projects/uniref/uniref100_rapsearch
;; Eggnog Database
$;EGGNOG_DB$;=/local/db/eggnog/latest/sequences.v3.db
$;EGGNOG_ALIAS$;=/local/db/eggnog/latest/protein.aliases.v3.txt
$;EGGNOG_FUNCTION$;=/local/db/eggnog/latest/fun.txt
$;EGGNOG_DESC$;=/local/db/eggnog/latest/all.description/NOG.description.txt
$;EGGNOG_MEMBERS$;=/local/db/eggnog/latest/all.members/NOG.members.txt
$;EGGNOG_CAT$;=/local/db/eggnog/latest/all.members/NOG.funccat.txt
$;ISLANDPATH_HMMPFAM$;=/usr/local/packages/hmmer-2.3.2/bin/hmmpfam
$;HMMER2$;=/usr/local/packages/islandpath/hmmpfam/Pfam_ls_mobgene_selected_June172005_HMMER2
$;BLASTALL_EXEC$; = /usr/local/packages/ncbi-blast/bin/blastall
$;MHC_II_EXEC$;=/usr/local/packages/iedb_mhc_ii-2.15.1/mhc_II_binding.py
$;MCL_EXEC$;=/usr/local/packages/mcl/bin/mcl
$;HMMSCAN_ATT$;=/usr/local/packages/hmmer-3.0/bin/hmmscan

;; components below
[component aat_aa]
$;DPS_EXEC$;=/usr/local/packages/aat/dps
$;EXT_EXEC$;=/usr/local/packages/aat/ext
$;EXT_COLLAPSE_EXEC$;=/usr/local/packages/aat/extCollapse.pl
$;FILTER_EXEC$;=/usr/local/packages/aat/filter.pl
$;NAP_EXEC$;=/usr/local/packages/aat/nap
$;MATRIX$;=/usr/local/packages/aat/matrices/BS

[component aat_aa_masked]
$;DPS_EXEC$;=/usr/local/devel/ANNOTATION/elee/bin/aat/dps
$;EXT_EXEC$;=/usr/local/bin/ext
$;EXT_COLLAPSE_EXEC$;=/usr/local/common/extCollapse.pl
$;FILTER_EXEC$;=/usr/local/common/filter.pl
$;NAP_EXEC$;=/usr/local/bin/nap

[component aat_na]
$;DDS_EXEC$;=/usr/local/packages/aat/dds
$;EXT_EXEC$;=/usr/local/bin/ext
$;EXT_COLLAPSE_EXEC$;=/usr/local/common/extCollapse.pl
$;FILTER_EXEC$;=/usr/local/common/filter.pl
$;GAP2_EXEC$;=/usr/local/bin/gap2

[component aat_na_masked]
$;DDS_EXEC$;=/usr/local/packages/aat/dds
$;EXT_EXEC$;=/usr/local/bin/ext
$;EXT_COLLAPSE_EXEC$;=/usr/local/common/extCollapse.pl
$;FILTER_EXEC$;=/usr/local/common/filter.pl
$;GAP2_EXEC$;=/usr/local/bin/gap2

[component aragorn]
$;ARAGORN_EXEC$;=/usr/local/devel/ANNOTATION/wnelson/aragorn

[component auto_gene_curation]
$;HMM_INFO_DB$;=/mnt/coding_hmm.lib.db
$;NCBI_TAX_NAMES$;=$;DB_DIR$;/ncbi/taxonomy/names.dmp
$;NCBI_TAX_NODES$;=$;DB_DIR$;/ncbi/taxonomy/nodes.dmp

[component bcell_pred]
$;BCELL_EXEC$;=/home/admello/Desktop/bcell/predict_bcell.py

[component bcell_pred_all]
$;BCELL_EXEC$;=/home/admello/Desktop/bcell/predict_bcell.py

[component ber]
$;PRAZE_EXEC$;=/usr/local/packages/praze/praze
$;CDBFASTA_PATH$;=/usr/local/packages/cdbtools
$;FORMATDB_PATH$;=/usr/local/bin
$;XDFORMAT_PATH$;=/usr/local/bin

[component blat]
$;BLAT_EXEC$;=/usr/local/packages/blat-35/bin/blat

[component bmtagger]
$;BMTAGGER_EXEC$;=/usr/local/packages/bmtagger/bmtagger.sh

[component bmtagger_index]
$;BMTOOL_EXEC$;=/usr/local/packages/bmtagger/bmtool
$;SRPRISM_EXEC$;=/usr/local/packages/bmtagger/srprism
$;MAKEBLASTDB_EXEC$;=/usr/local/packages/bmtagger/makeblastdb

[component bwa]
$;BWA_EXEC$;=/usr/local/bin/bwa
$;SAMTOOLS_EXEC$;=/usr/local/bin/samtools

[component clustalw]
$;CLUSTALW_EXEC$;=/usr/local/bin/clustalw

[component create_pseudomolecules]
$;NUCMER_EXEC$;=/usr/local/bin/nucmer
$;COORDS_EXEC$;=/usr/local/bin/show-coords

[component dump_table]
$;TBL2ASN_PATH$;=/usr/local/projects/aengine/bin/tbl2asn

[component ec_assignment]
$;PSIBLAST_EXEC$;=/home/kgalens/blast-2.2.18/bin/blastpgp

[component epitope_cluster]
$;EPI_CLUSTER_EXEC$;=/usr/local/packages/iedb_cluster-1.0/predict_cluster.py

[component exonerate]
$;EXONERATE_EXEC$;=/usr/local/packages/exonerate/bin/exonerate

[component fgenesh]
$;FGENESH_EXEC$;=/usr/local/devel/ANNOTATION/euk_genome_control/bin/fgenesh/Linux/fgenesh

[component formatdb]
$;FORMATDB_EXEC$;=/usr/local/packages/ncbi-blast/bin/formatdb

[component fuzznuc]
$;FUZZNUC_EXEC$;=/usr/local/packages/emboss/bin/fuzznuc

[component geneid]
$;GENEID_EXEC$;=/usr/local/packages/geneid/bin/geneid

[component genemark]
$;GMHMME3_EXEC$;=/usr/local/bin/gmhmme3

[component genemark-es]
$;GENEMARKES_EXEC$;=/usr/local/packages/GeneMarkHMM_ES_64_v2.3a/gm_es.pl

[component genezilla]
$;GENEZILLA_EXEC$;=/usr/local/devel/ANNOTATION/jorvis/opt/genezilla

[component genewise]
$;GENEWISE_EXEC$;=/usr/local/devel/ANNOTATION/EGC_utilities/WISE2/wise2.2.0/src/bin/genewise

[component gkpstore2fastq]
$;GATEKEEPER_7-0$;=/usr//local/packages/wgs-7.0/Linux-amd64/bin/gatekeeper
$;GATEKEEPER_6-1$;=/usr/local/packages/wgs-assembler-6.1/Linux-amd64/bin/gatekeeper

[component glimmer3]
$;GLIMMER3_EXEC$;=/usr/local/packages/glimmer3/bin/glimmer3
$;GLIMMER3_DIR$;=/usr/local/packages/glimmer3

[component glimmerHMM]
$;GLIMMERHMM_EXEC$;=/usr/local/devel/ANNOTATION/jorvis/glimmerHMM/glimmerhmm

[component hmmpfam]
$;HMMPFAM_EXEC$;=/usr/local/bin/hmmpfam

[component hmmpfam3]
$;HMMSCAN_EXEC$;=/usr/local/packages/hmmer-3.1b2/bin/hmmscan

[component hmmpfam3_att]
$;HMMSCAN_EXEC$;=/usr/local/packages/hmmer-3.0/bin/hmmscan

[component hmmls]
$;HMMLS_EXEC$;=/usr/local/bin/hmmls

[component immunogenicity]
$;IMMUNOGENICITY_EXEC$;=/usr/local/packages/iedb_immunogenicity/predict_immunogenicity.py

[component infernal]
$;CMSEARCH_EXEC$;=/usr/local/bin/cmsearch
$;RFAM_HMM_CM_MAP$;=/usr/local/projects/db/Rfam/current/hmm_cm_mapping
$;RFAM_STOCKHOLM_DIR$;=/usr/local/projects/db/Rfam/current/stockholm

[component iprscan]
$;IPRSCAN_EXEC$;=/usr/local/packages/iprscan/bin/iprscan.sh

[component jaccard]
$;CLUSTER_PATH$;=/usr/local/projects/ergatis/package-latest/bin/cluster

[component lipop]
$;LIPOP_EXEC$;=/usr/local/bin/LipoP

[component make_circleator_figure]
$;CIRCLEATOR_PATH$;=/usr/local/packages/circleator/bin/circleator
$;RASTERIZER_PATH$;=/usr/local/packages/circleator/bin/rasterize-svg
$;CONFIG_DIR$;=/usr/local/packages/circleator/conf/clovr-microbe

[component make_comparative_circleator_figure]
$;CIRCLEATOR_PATH$;=/usr/local/packages/circleator/bin/circleator
$;RASTERIZER_PATH$;=/usr/local/packages/circleator/bin/rasterize-svg

[component metagene]
$;METAGENE_EXEC$;=/usr/local/packages/metagene-2008-08-19/mga_linux_ia64

[component metagenemark]
$;METAGENEMARK_EXEC$;=/usr/local/packages/metagenemark/gmhmmp
$;MGM_DEFAULT_MODEL$;=/usr/local/packages/metagenemark/MetaGeneMark_v1.mod

[component mhc_class_i]
$;MHC_I_EXEC$;=/usr/local/packages/iedb_mhc_i-2.15.1/src/predict_binding.py

[component mhc_class_i_all]
$;MHC_I_EXEC$;=/usr/local/packages/iedb_mhc_i-2.15.1/src/predict_binding.py

[component mhc_class_ii]
$;MHC_II_EXEC$;=/usr/local/packages/iedb_mhc_ii-2.15.1/mhc_II_binding.py

[component mhc_class_ii_all]
$;MHC_II_EXEC$;=/usr/local/packages/iedb_mhc_ii-2.15.1/mhc_II_binding.py

[component mumi-reduce]
$;MUMMER_EXEC$;=/usr/local/bin/mummer
$;GENPAIRS_EXEC$;=/usr/local/projects/jorvis/metaref/01_generatePairLists.pl
$;COMPUTE_PAIRS_EXEC$;=/usr/local/projects/jorvis/metaref/02_runMUMi.pl
$;MUMI_EXEC$;=/usr/local/projects/jorvis/metaref/03_MUMi.pl
$;MUMI_SCORE_AGGREGATOR_EXEC$;=/usr/local/projects/jorvis/metaref/04_aggregateScores.pl
$;MUMI_CLUSTERING_EXEC$;=/usr/local/projects/jorvis/metaref/05_clusterSequences.pl
$;GENERATE_REDUCED_DB_EXEC$;=/usr/local/projects/jorvis/metaref/06_generateReducedDB.pl

[component mpileup]
$;SAMTOOLS_EXEC$;=/usr/local/bin/samtools

[component mugsycog]
$;MUGSY_MAPPING_INSTALL_DIR$;=/local/projects-t3/NEISSERIA/mugsy_x86-64-v1r2.1/

[component mugsyalign]
$;MUGSY_EXEC$;=/local/projects-t3/NEISSERIA/mugsy_x86-64-v1r2.1/mugsy

[component mugsy_callsnps]
$;MUGSY_MAPPING_INSTALL_DIR$;=

[component muscle]
$;MUSCLE_EXEC$;=/usr/local/bin/muscle

[component ncbi-blastp]
$;COGS_DB$;=/local/db/ncbi/COG/latest/myva
$;BLASTALL_EXEC$;=/usr/local/packages/ncbi-blast/bin/blastall

[component ncbi-blastn]
$;BLASTALL_EXEC$;=/usr/local/packages/ncbi-blast/bin/blastall

[component ncbi-blastx]
$;BLASTALL_EXEC$;=/usr/local/packages/ncbi-blast/bin/blastall

[component ncbi-blastn_compress]
$;BLASTALL_EXEC$;=/usr/local/packages/ncbi-blast/bin/blastall

[component ncbi-tblastn]
$;BLASTALL_EXEC$;=/usr/local/packages/ncbi-blast/bin/blastall

[component ncbi-tblastx]
$;BLASTALL_EXEC$;=/usr/local/packages/ncbi-blast/bin/blastall

[component ncbi-blastall]
$;BLASTALL_EXEC$;=/usr/local/packages/ncbi-blast/bin/blastall

[component netctlpan_all]
$;NETCTLPAN_EXEC$;=/usr/local/packages/iedb_netchop-1.0.1/predict_modified.py

[component nucmer]
$;NUCMER_EXEC$;=/usr/local/bin/nucmer
$;COORDS_EXEC$;=/usr/local/bin/show-coords

[component nucmer-delta-filter]
$;DELTA_FILTER_EXEC$;=/usr/local/bin/delta-filter

[component nucmer-show-snps]
$;SHOW_SNPS_EXEC$;=/usr/local/bin/show-snps

[component open_reading_frames]

[component p_func]
$;TIGR_ROLES_DB_DIR$;=/local/db/tigr_roles/latest
$;ENZYME_DAT$;=/local/db/expasy/enzyme/latest/enzyme.dat

[component panther]
$;PANTHER_EXEC$;=/usr/local/devel/ANNOTATION/jorvis/opt/pantherScore1.0/pantherScore.pl
$;PANTHER_HMM_LIBRARY$;=/usr/local/db/common/PANTHER6.0
$;BLASTALL_EXEC$;=/usr/bin/blastall
$;HMMSEARCH_EXEC$;=/usr/local/bin/hmmsearch
$;GUNZIP_EXEC$;=/usr/bin/gunzip

[component parse_evidence]
$;TIGR_ROLES_DB_DIR$;=/local/db/tigr_roles/latest
$;TIGRFAMS_DIR$;=/local/db/repository/igs/hmm/db/20130221_192430/tigrfams

[component phat]
$;FULLPHAT_EXEC$;=/usr/local/devel/ANNOTATION/jorvis/phat/fullphat

[component phobos]
$;PHOBOS_EXEC$;=/usr/local/bin/phobos_64bit

[component phylip_dnadist]
$;DNADIST_WORKER$;=/home/jcrabtree/bin/dnadist_worker
$;DNADIST_COMBINER$;=/home/jcrabtree/bin/dnadist_combiner
$;DNADIST_SORT$;=/bin/sort

[component pipeline_summary]
$;COGS_LOOKUP$;=$;DB_DIR$;/ncbi/COG/latest/whog

[component predotar]
$;PREDOTAR_EXEC$;=/usr/local/bin/predotar

[component predict_prokaryotic_gene_function]
$;CHAR_DB$;=$;DB_DIR$;/tchar/tchar.db

[component prepare_paired_ends_for_velvet]
$;VELVET_INSTALL_DIR$;=/usr/local/packages/velvet_current

[component prodigal]
$;PRODIGAL_EXEC$;=/usr/local/bin/prodigal
$;PRODIGAL_DIR$;=/usr/local/bin/prodigal

[component ps_scan]
$;PS_SCAN_EXEC$;=/usr/local/bin/ps_scan.pl
$;PROSITE_DAT_PATH$;=/local/db/expasy/prosite/latest/prosite.dat
$;PFSCAN_EXEC$;=/usr/local/bin/pfscan
$;PSA2MSA_EXEC$;=/usr/local/bin/psa2msa

[component psiblast]
$;PSIBLAST_EXEC$;=/usr/local/bin/blastpgp

[component psortb]
$;PSORTB_EXEC$;=/usr/local/packages/psortb-3.0.3/psort/bin/psort

[component quicktree]
$;QUICKTREE_EXEC$;=/home/jinman/bin/quicktree

[component rdp_classifier]
$;RDP_CLASSIFIER_JAR_FILE$;=/usr/local/packages/rdp_classifier/rdp_classifier-2.0.jar
$;JAVA_EXEC$;=/usr/bin/java

[component repeatmasker]
$;REPEATMASKER_EXEC$;=/usr/local/packages/RepeatMasker/RepeatMasker

[component RNAmmer]
$;RNAMMER_EXEC$;=/usr/local/packages/RNAmmer/rnammer

[component rpsblast]
$;RPSBLAST_EXEC$;=/usr/local/bin/rpsblast

[component seg]
$;SEG_EXEC$;=/usr/local/bin/seg

[component signalp]
$;SIGNALP_EXEC$;=/usr/local/packages/signalp/signalp

[component snap]
$;SNAP_EXEC$;=/usr/local/packages/snap-20100728/snap

[component SSR_finder]
$;PHV_VS_ORF$;=$;BIN_DIR$;/phv_vs_orfs_500ntUpstream.pl

[component stap_aligner]
$;STAP_ALIGNER_EXEC$;=/usr/local/packages/STAP/bin/align_to_rRNA_profile.pl

[component stap_classifier]
$;STAP_CLASSIFIER_EXEC$;=/usr/local/packages/STAP/bin/rRNA_pipeline_for_one.pl

[component start_site_curation]
$;CHAR_DB$;=/local/db/igs/uniref_lookup_db/latest/uniref100_lookup.db

[component targetp]
$;TARGETP_EXEC$;=/usr/local/bin/targetp

[component tbl2asn]
$;TBL2ASN_EXEC$;=/usr/local/bin/tbl2asn

[component tmhmm]
$;TMHMM_EXEC$;=/usr/local/bin/tmhmm
$;TMHMM_LIB$;=/usr/local/packages/TMHMM/lib

[component train_for_glimmer3_iteration]
;; install directory for glimmer.  software expects a bin directory underneath this
$;GLIMMER3_DIR$;=/usr/local/packages/glimmer3
$;ELPH_BIN$;=/usr/local/packages/ELPH/bin/elph

[component translate_sequence]
$;TRANSEQ_EXEC$;=/usr/local/packages/emboss/bin/transeq

[component trf]
$;TRF_EXEC$;=/usr/local/bin/trf

[component tRNAscan-SE]
$;TRNASCANSE_EXEC$;=/usr/local/packages/tRNAscan/tRNAscan-SE

[component tRNAscan-SE_compress]
$;TRNASCANSE_EXEC$;=/usr/local/packages/tRNAscan/tRNAscan-SE

[component uchime]
$;UCHIME_EXEC$;=/usr/local/packages/uchime/uchime

[component velvet_optimiser]
$;VELVET_INSTALL_DIR$;=/usr/local/packages/velvet_current

[component wga_maf2tree]
$;PHYLOMARK_DIR$;=/opt/phylomark
$;NEWICK_UTILITIES$;=/opt/newick-utilities/bin
$;RASTERIZER_PATH$;=/opt/opt-packages/circleator/bin/rasterize-svg

[component wu-blastp]
$;BLASTP_EXEC$;=/usr/local/packages/wu-blast-2.0/blastp
$;COGS_DB$;=/usr/local/projects/db/ncbi/COG/myva

[component wu-tblastn]
$;TBLASTN_EXEC$;=/usr/local/packages/wu-blast-2.0/tblastn

[component wu-tblastx]
$;TBLASTX_EXEC$;=/usr/local/packages/wu-blast-2.0/tblastx

[component wu-blastx]
$;BLASTX_EXEC$;=/usr/local/packages/wu-blast-2.0/blastx

[component wu-blastn]
$;BLASTN_EXEC$;=/usr/local/packages/wu-blast-2.0/blastn

[component xdformat]
$;XDFORMAT_EXEC$;=/usr/local/packages/wu-blast-2.0/xdformat

[component sff_to_CA]
$;SFFTOCA_EXEC$;=/usr/local/packages/wgs-7.0/Linux-amd64/bin/sffToCA

[component fastq_to_CA]
$;FASTQTOCA_EXEC$;=/usr/local/packages/wgs-assembler-6.1/Linux-amd64/bin/fastqToCA

[component celera2hawkeye]
$;TOAMOS_EXEC$;=/opt/opt-packages/bioinf-v1r4b1/AMOS/bin/toAmos
$;BANK_TRANSACT_EXEC$;=/opt/opt-packages/bioinf-v1r4b1/AMOS/bin/bank-transact

[component celera-assembler]
$;CELERA_ASSEMBLER_EXEC$;=/usr/local/packages/wgs-7.0/Linux-amd64/bin/runCA

[component megablast]
$;MEGABLAST_EXEC$;=/usr/local/bin/megablast

[component fast_tree]
$;FASTTREE_EXEC$;=/home/carze/projects/clovr/bin/FastTree

[component hmmer]
$;HMMER_EXEC$;=/usr/local/bioinf/hmmer/hmmer/binaries/hmmsearch

[component uclust]
$;UCLUST_EXEC$;=/usr/local/projects/clovr/bin/uclust1.0.50_linuxi86_64

[component crossbow]
$;CROSSBOW_EXEC$;=/opt/crossbow/local/crossbow.pl

[component pangenome_make_graphs]
$;R_EXEC$;=/usr/local/bin/R

[component skiff]
$;SKIFF_PATH$;=/opt/SKIFF/skiff

[component piecharts]
$;PIECHART_PATH$;=/opt/CherryPie/cherrypie

[component metastats]
$;METASTATS_PATH$;=/opt/metastats/metastats

[component histogram_stacked]
$;HIST_PATH$;=/opt/histogram/histogram_stacked

[component lgt_bwa]
$;SRA_TOOLS_BIN$;=/usr/local/packages/sratoolkit/
$;BWA_EXEC$;=/usr/local/bin/bwa

[component bwa_index]
$;BWA_INDEX_EXEC$;=/local/projects/ergatis/package-devel/bin/bwa_index.sh

[component bwa_align]
$;BWA_ALIGN_EXEC$;=/local/projects/ergatis/package-devel/bin/bwa_align.sh

[component gsnap]
$;GMAP_SETUP_EXEC$;=/usr/local/bin/gmap_setup
$;GSNAP_EXEC$;=/usr/local/bin/gsnap

[component scripture]
$;SCRIPTURE_EXEC$;=/usr/local/packages/scripture-beta2/scripture-beta2.jar

[component augustus]
$;AUGUSTUS_DIR$;=/usr/local/packages/augustus/

[component ksnp]
$;KSNP_EXEC$;=/usr/local/packages/kSNP_v2_alt/run_kSNP_v2
$;KSNP_DIR$;=/usr/local/packages/kSNP_v2_alt/

[component fastx_tools_analysis]
$;FASTX_DIR$;=/usr/local/packages/fastx_toolkit/bin

[component bowtie_build]
$;BOWTIE_BUILD_EXEC$;=/usr/local/bin/bowtie-build
$;BOWTIE_BUILD_BIN$;=/usr/local/bin

[component bowtie]
$;BOWTIE_EXEC$;=/usr/local/bin/bowtie/
$;BOWTIE_BIN$;=/usr/local/bin/

[component tophat]
$;TOPHAT_EXEC$;=/usr/local/bin/tophat
$;TOPHAT_BIN$;=/usr/local/bin
$;BOWTIE_EXEC$;=/usr/local/bin/bowtie
$;BOWTIE_BIN$;=/usr/local/bin

[component cufflinks]
$;CUFFLINKS_EXEC$;=/usr/local/bin/cufflinks
$;CUFFLINKS_BIN$;=/usr/local/bin

[component cuffcompare]
$;CUFFCOMPARE_EXEC$;=/usr/local/bin/cuffcompare
$;CUFFCOMPARE_BIN$;=/usr/local/bin

[component cuffmerge]
$;CUFFMERGE_EXEC$;=/usr/local/bin/cuffmerge
$;CUFFMERGE_BIN$;=/usr/local/bin

[component cuffdiff]
$;CUFFDIFF_EXEC$;=/usr/local/bin/cuffdiff
$;CUFFDIFF_BIN$;=/usr/local/bin

[component fastx_quality_stat]
$;FASTX_EXEC$;=/usr/local/bin/fastx_quality_stats
$;FASTX_BIN$;=/usr/local/bin

[component fastx_trimming]
$;FASTX_EXEC$;=/usr/local/bin/fastx_trimmer
$;FASTX_BIN$;=/usr/local/bin

[component htseq]
$;PYTHON_BIN$;=
$;PYTHON_LIB$;=

[component deseq]
$;R_BIN$;=/usr/local/packages/r-3.3.1/bin
$;R_SCRIPT_PATH$;=

[component bam2bigwig]
$;UCSC_UTIL$;=/usr/local/packages/ucsc_utils
$;BEDTOOLS_BIN$;=/usr/local/packages/bedtools

[component percent_mapped_stats]
$;BEDTOOLS_BIN$;=/usr/local/bin

[component rpkm_coverage_stats]
$;BEDTOOLS_BIN$;=/usr/local/bin

[component fastqc_stats]
$;FASTQC_BIN$;=/usr/local/bin

[component edgeR]
$;R_BIN$;=/usr/local/packages/r-3.3.1/bin
$;R_SCRIPT_PATH$;=

[component expression_plots]
$;R_BIN$;=/usr/local/packages/r-3.3.1/bin
$;R_SCRIPT_PATH$;=

[component cummerbund]
$;R_BIN$;=/usr/local/packages/r-3.3.1/bin
$;R_SCRIPT_PATH$;=

[component RAPSearch2]
$;RAPSEARCH_EXEC$;=/usr/local/bin/rapsearch
$;RAPSEARCH2_22_EXEC$;=/usr/local/packages/RAPSearch2.22/bin/rapsearch
$;UNIPROT_SQLITE$;=/local/projects/uniref/uniprot_trembl.sqlite3

[component soapdenovo]
$;SOAPDENOVO_EXEC$;=/opt/SOAPdenovo/SOAPdenovo

[component solsnp]
$;SOLSNP_EXEC$;=/usr/local/packages/solSNP/SolSNP.jar

[component usearch]
$;USEARCH_EXEC$;=/usr/local/packages/usearch/usearch

[component lsbsr]
$;USEARCH_EXEC$;=/usr/local/packages/usearch-9.2.64/bin/usearch
$;PYTHON$;=/usr/local/packages/python-2.7.14/bin/python
$;LSBSR$;=/usr/local/projects/PNTHI/tools/LS-BSR/ls_bsr.py
