[interface]
classification = annotation

[input]
;;Do not use the input list.
$;INPUT_FILE_LIST$;=
;;This should be a single multi fasta file needing annotation in the headers
$;INPUT_FILE$;=

;;The following lists are obtained from the functional annotation pipeline using the above file as input.
;;This should be a HMMPFAM3 htab output list.
$;HMM_HTAB$;=$;REPOSITORY_ROOT$;/output_repository/hmmpfam3/$;PIPELINEID$;_attributor/hmmpfam3.htab.list 
;;This should be a RAPSearch2 m8 format output list.
$;RAP2_M8$;=$;REPOSITORY_ROOT$;/output_repository/RAPSearch2/$;PIPELINEID$;_default/RAPSearch2.m8.list
;;This should be a tmhmm raw output list.
$;TMHMM_RAW$;=$;REPOSITORY_ROOT$;/output_repository/tmhmm/$;PIPELINEID$;_default/tmhmm.raw.list
;;This should be a lipop bsml output list.
$;LIPOP_BSML$;=$;REPOSITORY_ROOT$;/output_repository/lipop/$;PIPELINEID$;_default/lipop.bsml.list

;;Do not use these.
$;INPUT_DIRECTORY$;=
$;INPUT_EXTENSION$;=

[output]
$;OUTPUT_TOKEN$;=default
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;RAW_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list

[component]
$;COMPONENT_NAME$;=attributor
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed
$;DESCRIPTION$;=none

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=2.0
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision$

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=/usr/local/scratch/admello/workflow/project.config


;; This file contains any component configuration options that are common across 
;; all Ergatis components. Any components added here should be displayed in the interface
;; when adding any component to a pipeline

[dce]
;; These configuration options only apply to any distributed components 
$;GROUP$;=$;PROJECT_CODE$;
$;OS$;=linux
$;MEMORY$;=
$;HOSTS$;=
$;QUEUE$;=
$;DURATION$;=
$;PRIORITY$;=
$;PASSTHROUGH$;=
