[interface]
classification = clustering

[parameters]

[input]
;;Do not use the below input list/file/dir.
$;INPUT_FILE_LIST$;=
$;INPUT_FILE$;=
$;INPUT_DIRECTORY$;=
$;INPUT_EXTENSION$;=

;;This component requires a Mysql database named 'orthomcl'. Below are the required credentials for the database.
$;USER$;=admello
$;PASS$;=valinass80
$;HOST$;=hannibal.igs.umaryland.edu
;;This is an all-v-all ncbi blast out in -m8 format.
$;BLAST_FILE$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_default/searchdb.nthi.ncbi-blastp.raw
;;The file used for the blast.
$;MULTI_FASTA$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_polyp/searchdb.fsa
;;This is wether to empty Mysql tables after use. Options are [yes|no|only|all]
$;CLEANUP$;=yes

[output]
$;OUTPUT_TOKEN$;=default
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;RAW_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list

[component]
$;COMPONENT_NAME$;=orthomcl
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed
$;DESCRIPTION$;=none

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=2.0
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision$

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=/usr/local/scratch/admello/workflow/project.config


;; This file contains any component configuration options that are common across 
;; all Ergatis components. Any components added here should be displayed in the interface
;; when adding any component to a pipeline

[dce]
;; These configuration options only apply to any distributed components 
$;GROUP$;=$;PROJECT_CODE$;
$;OS$;=linux
$;MEMORY$;=
$;HOSTS$;=
$;QUEUE$;=
$;DURATION$;=
$;PRIORITY$;=
$;PASSTHROUGH$;=
