[interface]
classification = functional prediction

[parameters]
;;Optional Custom Mask. Specify comma separated numbers for additional anchor positions.
;;Use default if unsure (Default: 1st, 2nd, and C-terminus amino acids--[1,2,'cterm']). 
$;CUSTOM_MASK$; =

;;Specify a particular allele (Optional. Eg "-a HLA-A3002").
;;=========================================================================
;;| Alleles available for Class-I Immunogenicity:                         |
;;|-----------------------------------------------------------------------|
;;| H-2-Db    | H-2-Dd    | H-2-Kb    | H-2-Kd    | H-2-Kk    | H-2-Ld    |
;;| HLA-A0101 | HLA-A0201 | HLA-A0202 | HLA-A0203 | HLA-A0206 | HLA-A0211 |
;;| HLA-A0301 | HLA-A1101 | HLA-A2301 | HLA-A2402 | HLA-A2601 | HLA-A2902 |
;;| HLA-A3001 | HLA-A3002 | HLA-A3101 | HLA-A3201 | HLA-A3301 | HLA-A6801 |
;;| HLA-A6802 | HLA-A6901 | HLA-B0702 | HLA-B0801 | HLA-B1501 | HLA-B1502 |
;;| HLA-B1801 | HLA-B2705 | HLA-B3501 | HLA-B3901 | HLA-B4001 | HLA-B4002 |
;;| HLA-B4402 | HLA-B4403 | HLA-B4501 | HLA-B4601 | HLA-B5101 | HLA-B5301 |
;;| HLA-B5401 | HLA-B5701 | HLA-B5801                                     |
;;-------------------------------------------------------------------------
$;ALLELE$; =

[input]
;;MHC class I and NetCTLpan provide a single file of unique peptides for inputs to use here.
;;Do not use the file list.
$;INPUT_FILE_LIST$; = 
;;Input File should have MHC class I immuno input file
$;INPUT_FILE$; = $;REPOSITORY_ROOT$;/output_repository/mhc_class_i_all/$;PIPELINEID$;_default/immunogenicity_input.out
;;This should be the NetCTLpan immuno input file.
$;CTL_INPUT_FILE$; = $;REPOSITORY_ROOT$;/output_repository/netctlpan_all/$;PIPELINEID$;_default/netctlpan_all2immunoinput.out
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa
$;MHCICUTOFF_LIST$; = $;REPOSITORY_ROOT$;/output_repository/mhc_class_i_all/$;PIPELINEID$;_default//mhc_class_i_all.cutoff.list
;;This is also provided in NetCTLpan outputs.
$;CTL_CUTOFF_FILE$; = $;REPOSITORY_ROOT$;/output_repository/netctlpan_all/$;PIPELINEID$;_default/netctlpan_all2cutoff

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;RAW_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list
$;IMM2TAB_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;2table.list
$;IMMUNO_PEPTIDES_LIST$; =$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.peptides.list

[component]
$;COMPONENT_NAME$; = immunogenicity
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


