[interface]
classification = clustering

[input]
;;This should be a list of .gff files of all the strains in the protein multifasta.
$;INPUT_FILE_LIST$; = 
;;This should be the protein multifasta file used for the BLAST.
$;PEP_FILE$; =$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_polyp/searchdb.fsa
;;This should be a tab-delimited all vs all BLASTALL (-m 8 or 9) input file.
$;BLAST_FILE$; = $;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_default/searchdb.nthi.ncbi-blastp.raw 
$;OTHER_OPTS$; =  -S Y -L 1 -M Y -H Y -V Y -N Y -F 1.33 -G y -c 0,25,50,75,100 -T

;;Do not use these variables.
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
$;INPUT_EXTENSION$; = 

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;RAW_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list

[component]
$;COMPONENT_NAME$; = PanOCT
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed
$;DESCRIPTION$; = none

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


