[interface]
classification = functional prediction

[parameters]
;; Either -p -n or -a for Gram +ve, -ve and archaea respectively.
$;TYPE$; =
;; Sets a cutoff value for reported results. Cutoff scale from 0.00 to 10.00. Eg: -c 5
$;CUTOFF$; =
;; Sets a cutoff value for the multiple localization flag. Optional. Eg: -d (value)
$;DIVERGENT$; =
;; Specifies the path to the pftools instalation. Optional. Eg: -m (path)
$;MATRIX$; =
;; Specifies the format for the output. Optional. Default is 'normal'. Value can be one of: terse, long or normal.
$;OUTPUT_TYPE$; =

[input]
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$; = fsa

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;RAW_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list
$;PSORTB2TAB$; = $;OUTPUT_DIRECTORY$;/PSORTB2table.out

[component]
$;COMPONENT_NAME$; = psortb
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


