[interface]
classification = utility

[input]
;;Do not use the input list/file/dir.
$;INPUT_FILE_LIST$; = 
$;INPUT_FILE$; = 
$;INPUT_DIRECTORY$; = 
$;INPUT_EXTENSION$; = 

;;This component accepts a pipelines output repository to find 2table.out files.
;;This can be a comma seperated list if other repositories are needed.
$;OUTPUT_REPO$; = $;REPOSITORY_ROOT$;/output_repository/
;;This should be a comma seperated list of components to look into.
$;COMP_LIST$; = lipop,antigenic,mhc_class_i_all,immunogenicity,mhc_class_ii_all,tmhmm,autoimmunity,hmmpfam3,spaan,psortb,signalp,bcell_pred_all 
;;This should be the pipeline ID of the output repository to check.
$;P_ID$; = $;PIPELINEID$; 
;;Skip autoimmunity commensals (yes/no)
$;AC$; = no
;;Check orthology (yes/no)
$;ORTHOLOGY$; = yes
;;Number of genomes used (0 if just a protein dataset was used)
$;NOOFGEN$; =
;;Conservation percentage for candidate cluster (Eg 0.8)
$;CONSERVATION$; = 0.8


[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;RAW_OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.raw.list
$;SUMM_TABLE$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.out

[component]
$;COMPONENT_NAME$; = summary_table
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed
$;DESCRIPTION$; = none

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=


